name: Deploy to Docker Hub

on:
  push:
    branches: [ "main" ]

jobs:

  Deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Create Docker Image
      run: docker build . -t ameerhamzacode/project2manual:02
    - name: Authenticate Docker Hub
      run: echo "${{DOCKERHUB_TOKEN}}" | docker login -u ameerhamzacode --password-stdin
    - name: Push to Docker Hub
      run: dokcer push ameerhamzacode/project2manual:02

